.wrapper {
  background-color: #E6DFE6;
  margin: 20px auto;
  width: 50%;
  padding: 15px 0;
}

body {
  padding: 0;
  margin: 0;
}

.images-wrapper {
  width: 90%;
  margin: 0 auto;
}

.images-single {
  width: 100%;
  margin: 10px 0;
}

.title {
  font-family: Helvetica, sans-serif;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  color: #5B657E;
  font-variant: small-caps;
  margin-bottom: 0px;
}

.subtitle {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
  font-weight: normal;
  font-variant: small-caps;
  margin-top: 0px;
  margin-bottom: 30px;
  color: #4D5665;
}

